section.advantages 
   img.advantages__bg.advantages__bg-bee(src=require("../../images/icons/bees/advantages-bee-bg.svg"), alt='Пчелы Платона') 
   img.advantages__bg.advantages__bg-honey(src=require("../../images/bg/advantages-honey-bg.png"), alt='Капли мёда') 
   .advantages__container 
      h2.advantages__title Наши преимущества
      .advantages__inner 
         img.advantages__image(src=require("../../images/img/honeycomb.png"), alt='Мед Платона')
         ul.advantages__list
            li.advantages__item
               .advantages__icon-wrapper
                  img.advantages__icon(src=require("../../images/icons/advantages/advantages-001.svg"), alt='Натуральный продукт')
               .advantages__description
                  | Натуральный продукт
                  p.advantages__text Наш мёд – это 100% натуральный продукт, созданный с особым вниманием к качеству и чистоте.

            li.advantages__item
               .advantages__icon-wrapper
                  img.advantages__icon(src=require("../../images/icons/advantages/advantages-002.svg"), alt='Цены от производителя')
               .advantages__description
                  | Цены от производителя
                  p.advantages__text Мы предлагаем лучшие цены на мёд напрямую от производителя, без наценок и посредников.

            li.advantages__item
               .advantages__icon-wrapper
                  img.advantages__icon(src=require("../../images/icons/advantages/advantages-003.svg"), alt='Укрепление иммунитета')
               .advantages__description
                  | Укрепление иммунитета
                  p.advantages__text Польза мёда неоценима для поддержания иммунитета и общего укрепления организма.

            li.advantages__item
               .advantages__icon-wrapper
                  img.advantages__icon(src=require("../../images/icons/advantages/advantages-004.svg"), alt='Удобная доставка')
               .advantages__description
                  | Удобная доставка
                  p.advantages__text Наша доставка удобна и оперативна, делает процесс покупки максимально комфортным.

            li.advantages__item
               .advantages__icon-wrapper 
                  img.advantages__icon(src=require("../../images/icons/advantages/advantages-005.svg"), alt='Высокое качество') 
               .advantages__description 
                  | Высокое качество
                  p.advantages__text Высокое качество мёда благодаря строгому контролю на всех этапах его производства.
