section.delivery(id="delivery")
   img.delivery__bg.delivery__bg-blum(src=require("../../images/bg/delivery-blum.svg"), alt='Цветок')
   .delivery__container
      h2.delivery__title Наша доставка
      ul.delivery__list
         li.delivery__item
            .delivery__icon-wrapper
               img.delivery__icon(src=require("../../images/icons/delivery/delivery-001.svg"), alt='Доставим в короткий срок')
            .delivery__text Доставим в короткий срок
         li.delivery__item
            .delivery__icon-wrapper
               img.delivery__icon(src=require("../../images/icons/delivery/delivery-002.svg"), alt='Надежная доставка')
            .delivery__text Надежная доставка
         li.delivery__item
            .delivery__icon-wrapper
               img.delivery__icon(src=require("../../images/icons/delivery/delivery-003.svg"), alt='Без скрытых наценок')
            .delivery__text Без скрытых наценок
         li.delivery__item
            .delivery__icon-wrapper
               img.delivery__icon(src=require("../../images/icons/delivery/delivery-004.svg"), alt='Оплата при получении')
            .delivery__text Оплата при получении
