section.products
   img.products__bg.products__bg-bee1(src=require("../../images/bg/products-bee-bg1.svg"), alt='Пчелы Платона') 
   img.products__bg.products__bg-bee2(src=require("../../images/bg/products-bee-bg2.svg"), alt='Пчелы Платона') 
   img.products__bg.products__bg-honey(src=require("../../images/bg/products-honey-bg.png"), alt='Капли мёда') 
   .products__container
      h2.products__title Продукция нашей пасеки 
      ul.products__list
         li.products__item
            .hexagon-wrapper 
               svg.hexagon-svg(viewBox="0 0 100 100", xmlns="http://www.w3.org/2000/svg") 
                  polygon(points="50 1, 93 25, 93 75, 50 99, 7 75, 7 25") 
            .products__card
               img.products__image(src=require("../../images/img/products/products-001.png"), alt='Сотовый мёд') 
               .products__shadow 
               .products__about 
                  h4.products__name Сотовый мёд
                  p.products__weight 1 кг
                  p.products__price 500 ₽

         li.products__item
            .hexagon-wrapper 
               svg.hexagon-svg(viewBox="0 0 100 100", xmlns="http://www.w3.org/2000/svg") 
                  polygon(points="50 1, 93 25, 93 75, 50 99, 7 75, 7 25") 
            .products__card
               img.products__image(src=require("../../images/img/products/products-002.png"), alt='Мёд разнотравье') 
               .products__shadow 
               .products__about 
                  h4.products__name Мёд-разнотравье
                  p.products__weight 1 л
                  p.products__price 400 ₽

         li.products__item
            .hexagon-wrapper 
               svg.hexagon-svg(viewBox="0 0 100 100", xmlns="http://www.w3.org/2000/svg") 
                  polygon(points="50 1, 93 25, 93 75, 50 99, 7 75, 7 25") 
            .products__card
               img.products__image(src=require("../../images/img/products/products-003.png"), alt='Пыльца') 
               .products__shadow 
               .products__about 
                  h4.products__name Пыльца
                  p.products__weight 1 кг
                  p.products__price 150 ₽
   
         li.products__item
            .hexagon-wrapper 
               svg.hexagon-svg(viewBox="0 0 100 100", xmlns="http://www.w3.org/2000/svg") 
                  polygon(points="50 1, 93 25, 93 75, 50 99, 7 75, 7 25") 
            .products__card
               img.products__image(src=require("../../images/img/products/products-004.png"), alt='Прополис') 
               .products__shadow 
               .products__about 
                  h4.products__name Прополис
                  p.products__weight 1 кг
                  p.products__price 300 ₽

         li.products__item
            .hexagon-wrapper 
               svg.hexagon-svg(viewBox="0 0 100 100", xmlns="http://www.w3.org/2000/svg") 
                  polygon(points="50 1, 93 25, 93 75, 50 99, 7 75, 7 25") 
            .products__card
               img.products__image(src=require("../../images/img/products/products-005.png"), alt='Забрус') 
               .products__shadow  
               .products__about 
                  h4.products__name Забрус
                  p.products__weight 1 кг
                  p.products__price 350 ₽

         li.products__item
            .hexagon-wrapper 
               svg.hexagon-svg(viewBox="0 0 100 100", xmlns="http://www.w3.org/2000/svg") 
                  polygon(points="50 1, 93 25, 93 75, 50 99, 7 75, 7 25") 
            .products__card
               img.products__image(src=require("../../images/img/products/products-006.png"), alt='Перга') 
               .products__shadow 
               .products__about 
                  h4.products__name Перга
                  p.products__weight 1 кг
                  p.products__price 300 ₽

         li.products__item
            .hexagon-wrapper 
               svg.hexagon-svg(viewBox="0 0 100 100", xmlns="http://www.w3.org/2000/svg") 
                  polygon(points="50 1, 93 25, 93 75, 50 99, 7 75, 7 25") 
            .products__card
               img.products__image(src=require("../../images/img/products/products-007.png"), alt='Воск') 
               .products__shadow
               .products__about 
                  h4.products__name Воск
                  p.products__weight 1 кг
                  p.products__price 500 ₽